.bg-header-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 100px;

    background: #F7F7F7;;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

.header-style {
    padding-left: 44px;
    font-weight:800;
    font-size: 35px;

    background: linear-gradient(90deg, #F28853 -5.98%, #D26A74 83.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

  }

  .back-button {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-left: 44px;
    margin-top: 31px;

    color: #007AFF;
  }

  .back-button:hover {
    color: #0066d2;
  }

  .club-box {
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    width: 536;
    height: 100%;
    margin-top: 31px;
    margin-left: 44px;
    padding-left: 17px;
    padding-top: 17px;

  }

  .heading-component {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #007AFF;
  }

  .description-font {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7B7B7B;

  }

  .my-button {
    display: inline-block;
    padding: 5px 13px;
    background-color: #ECECEC;;
    border: none;
    border-radius: 10px;
    color: #8c8c8c;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    gap: 20;
  }
  .my-button:hover {
    background-color: #e6e6e6;
  }

  .div-margin {
    margin-right: 44px;
  }

  @media (max-width: 600px) {
    .club-box{
      width: 90%;
      margin-left: 20px;
      
    }

    .div-margin{
        margin-right: 5px;
    }
}