.my-button {
  font-family: "Poppins";
  font-style: normal;
  display: inline-block;
  padding: 10px 13px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 10px;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  gap: 20;
}
.my-button:hover {
  background-color: #e6e6e6;
}

.header-font {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 58px;
  color: #000;
}

.header-description-font {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.subheader-font {
  font-family: "Poppins";
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #5f5f5f;
  display: flex;
  align-items: center;
}

.commenter-font {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #aca9a9;
}

.text-field-style {
  width: 323px;
  height: 37px;
  background: #f4f4f4;
  border: 1px solid #c0c0c0;
}

.next-button {
  font-family: "Poppins";
  font-style: normal;
  display: inline-block;
  padding: 10px 13px;
  background-color: #007aff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #0066d2;
}

.all-button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #007aff;
}

.all-button:hover {
  color: #0066d2;
}

.contact-support-button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #007aff;
}

.contact-support-button:hover {
  color: #0066d2;
}
