.my-button {
  font-family: "Poppins";
  font-style: normal;
  display: inline-block;
  padding: 5px 13px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 10px;
  color: #8c8c8c;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  gap: 20;
}

.club-component{
  display: inline-block;
  padding: 10px 13px;
  background-color: #f4f4f4;
  border: none;
  border-radius: 10px;
  line-height: 17px;
}

.my-button:hover {
  background-color: #e6e6e6;
}
